.MovieCard {
  display: inline-block;
  flex-direction: column;
  width: 323px;
  height: 486px;
  margin-right: 54px;
  background-color: rgb(41, 39, 39);
  box-shadow: 0px 5px 14px rgba(10, 20, 20, 0.1);
  border-radius: 8px;
}
.description {
  display: inline-block;
  color: #ffffff;
}
.movieYear {
  float: right;
  margin-left: 80px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid grey;
}
.movieTitle {
  float: left;
}
