.input {
  mix-blend-mode: normal;
  width: 65%;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  color: #ffffff;
  border: #323232cc;
  background: rgba(50, 50, 50, 0.8);
}
.input:hover {
  border: 1px solid gainsboro;
}
.submit {
  width: 17%;
  margin-left: 1%;
  height: 39px;
  margin-bottom: 30%;
  background: #f65261;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.submit:hover {
  zoom: 110%;
  border: 1px solid ghostwhite;
}
.search {
  display: block;
  margin-top: 3%;
  margin-left: 15%;
}
